<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">

<head>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <meta charset="UTF-8">
    <title>Chat</title>
</head>
<body>
<div class="container">
    <label>
        <h2>Chat Application</h2>
    </label>
</div>
<div>
    <div style="overflow:scroll; width:600px; height:500px;" id="chatArea" class="col"></div>
    <div class="col-6">
        <div class="input-group mb-3">
            <input type="text" id="messageBox" class="form-control">
            <button class="btn btn-outline-secondary" type="button" id="sendButton">전송</button>
        </div>
    </div>
</div>
<script th:inline="javascript">
    const messageBox = document.getElementById('messageBox');
    const chatArea = document.getElementById('chatArea');
    document.getElementById('sendButton').addEventListener('click', function(){
        send();
    });
    document.getElementById('messageBox').addEventListener('keyup', function(event){
        if(event.keyCode === 13){
            send();
        }
    })

    let webSocket;


    function connect(){
        webSocket = new WebSocket("ws://localhost:8080/connect");
        webSocket.onmessage = onMessage;
        webSocket.onopen = onOpen;
        webSocket.onclose = onClose;
    }
    connect();

    function send(){
        let message = messageBox.value;
        webSocket.send(message);

    }

    function onOpen(){
        webSocket.send("입장");
    }

    function onClose(){
        webSocket.send("퇴장");
    }

    function onMessage(event){
        console.log(event.data);
        receivedMessage = event.data;
        chatArea.innerHTML = chatArea.innerHTML + "<br>" + receivedMessage;
        messageBox.value = "";
    }
</script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>
</html>