<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <meta charset="UTF-8">
    <title>Code-Report's Chat Room</title>
</head>
<body>
<center><h3>코드보고서의 채팅 서버에 오신 것을 환영합니다 !</h3></center>
<footer>
    <center>
        <button class="btn btn-primary" onclick="openDialog()">입장</button>
        <dialog id="nicknameDialog">
            <form>
                <input id="nicknameInputBox" placeholder="Nickname">
                <button onclick="submitNickname()" class="btn btn-primary">확인</button>
            </form>
        </dialog>
    </center>
</footer>
<script>
    var nicknameDialog = document.getElementById("nicknameDialog");
    nicknameDialog.style.display="none";
    function openDialog(){
        nicknameDialog.style.display="";
        nicknameDialog.showModal();
    }

    function submitNickname(){
        event.preventDefault();
        var nicknameInputBox = document.getElementById("nicknameInputBox");
        if(nicknameInputBox.value === '' || nicknameInputBox.value === undefined){
            alert('Nickname을 정확히 입력해주세요.');
        }else if(nicknameInputBox.value.length > 0){
            var requestURI = `?nickname=${nicknameInputBox.value}`;
            location.href=`/chat${requestURI}`;
        }
    }

</script>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>
</html>